#logo{
    background-color:#7C83FD;
    height: 200px;
}
#navbar{
    background-color: #96BAFF;
    height: 200px;
}
.fotoA{
    background-color: #7DEDFF;
    height: 300px;
}
.fotoB{
    background-color:#88FFF7 ;
    height: 300px;
}
#redes{
    background-color: #548CA8;
    height: 200px;
}
#contacto{
    background-color: #476072;
    height: 200px;
}
